:root{
    --cor-principal: #A53DFF;
    --cor-secundario:#132238;
    --branco:#FFFFFF;
    --cinza: #E6E8EB;
    --fonte-principal: 'Work Sans';
}

body{
    font-family: var(--fonte-principal);
}

.cabecalho{
    display: flex;


}

.logo__container{

}

.logo__imagem{

}

.logo__texto{

}

.menu__container-links{
    display: flex;
}